:root {
  --color-primary: #be03ed;
  --color-secondary: #e7d2ec;
  --color-tertiary: #6b3579;
  --font: "Bodoni Moda SC", serif;
}

body {
  background:  #e7d2ec;
  line-height: 1.5;
  margin: auto;
}

.header {
  padding: 1em 0;
  background: #6b3579;
  border-radius: 15px;
  box-shadow: 22px 23px 110px #6b3579;
}

.container__encabezado {
  display: flex;
  justify-content: center;
}

.titulo_logo {
  color: var(--color-secondary);
  font-family: var(--font);
  font-size: 70px;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  margin-left: 10px;
}

span {
  color: var(--color-primary);
  font-family: var(--font);
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 50px;
}

.logo_img {
  width: 100px;
  height: 100px;
  margin-top: auto;
  margin-right: 10px;
  border-radius: 60%;
  border: solid 2px;
  cursor: pointer;
  transition: 0.5s;
  padding: 0.5em;
}

.logo_img:hover {
  background-color: #e7d2ec;
  scale: 1.2;
  box-shadow: 1px 1px 1px #000;
}

.logo_img:active {
  scale: 1;
  transition: 0.2s;
}

.contenedor__principal {
  display: flex;
  justify-content: space-around;
  width: 95%;
  padding-left: 10px;
}

/*----SECCION LISTA DE PRODUCTOS----*/
.seccion__producto{
  padding-bottom: 20px;
  padding-left: 20px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;

}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  overflow: scroll;
  gap: 5px;
  padding: 1em;
  border: none ;
  border-radius: 10px;
  box-shadow: 22px 23px 110px #6b3579;


}

.card_container_productos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1px;
  padding: 5px;
}

.card {
  display: grid;
  gap: 1px;
  padding: 5px;
  border: solid 4px;
  border-radius: 15px;
}

h1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 2rem;
  font-size: 28px;
  font-weight: 600;
  font-family: "Bodoni Moda SC", serif;
  color: var(--color-tertiary);
}

.producto__imagen {
  width: 160px;
  height: 160px;
  cursor: pointer;
  border: black solid;
  border-radius: 12px;
}

.card-container--info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  font-size: 20px;
  font-weight: 600;
}

.card-container--info p {
  font-size: 20px;
  font-weight: 500;
  font-family: "Bodoni Moda SC", serif;
  width: 20vh;
}

.card-container--value {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  width: 20vh;
}

.card-container--value p {
  font-size: 20px;
  font-weight: 700;
  font-family: "Bodoni Moda SC", serif;
}

.btn__delete {
  width: 20px;
  height: 20px;
}

i {
  width: 5px;
  height: auto;
  display: flex;
  justify-content: center;
}

i:hover {
  cursor: pointer;
}

/* Footer */
.footer {
  padding: 1em 0;
  background: #6b3579;
  border-radius: 15px;
  box-shadow: 22px 23px 110px #6b3579;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 7px;
}

.menu-titulo-footer {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 5px;
  margin-right: 21rem;
}

.menu-titulo-footer p {
  color: #f2eded;
  font-family: "Bodoni Moda SC", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 70px;
}

.menu-titulo-footer span {
  color: #be03ed;
  font-family: "Bodoni Moda SC", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 50px;
}

.footer-logo {
  width: 100px;
  height: 100px;
  margin-top: auto;
  margin-left: 25rem;
  border-radius: 60%;
  border: solid 2px #141414;
  cursor: pointer;
  transition: 0.5s;
  padding: 0.5em;
}

.footer-autor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1px;
}

.footer-autor p {
  color: #f0eaea;
  font-family: "Bodoni Moda SC", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
}

.footer-autor span {
  color: #be03ed;
  font-family: "Bodoni Moda SC", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
}

/* Estilo responsivo para tabletas */


/*Style formulario*/
.contenedor_formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: initial;
  width: 100%;
}

.campo_formulario {
  font-size: 1.6em;
}

.titulo_formulario {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 12px;
  font-size: 28px;
  font-weight: 600;
  font-family: "Bodoni Moda SC", serif;
  color: var(--color-tertiary);
}

.form_producto {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
  background-color: #e7d2ec;
  border-radius: 15px;
  padding: 2rem;
}

.campo_etiqueta {
  line-height: 1.5;
  padding: 0 0 0.1em 1em;
  font-weight: 500;
  font-size: 25px;
  font-family: "Bodoni Moda SC", serif;
  color: var(--color-tertiary);
}

.input_formulario {
  border-radius: 24px;
  display: block;
  color: var(--color-tertiary);
  padding: 1em;
  width: 100%;
}

.input_formulario::placeholder {
  color: var(--color-tertiary);
}

.input_formulario[type="text"] {
  padding: 1rem;
  border-radius: 15px 30px;
  font-size: 20px;
  font-weight: bolder;
}

.input_formulario[type="text"]:focus {
  outline: none;
  border: solid 2px var(--color-tertiary);
}

.contenedor__boton {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 15px;
  font-family: "Bodoni Moda SC", serif;
  font-weight: 400;
}

.button {
  padding: 1rem;
  border-radius: 10px 25px;
  font-size: 20px;
  cursor: pointer;
  background-color: var(--color-tertiary);
  color: var(--color-secondary);
}

.button:hover {
  background-color: var(--color-tertiary);
  color: white;
  border: solid 2px;
  opacity: 0.8;
}

.button:focus {
  outline: none;
  border: solid 2px #be03ed;
  transition: 0.2s;
}

/* Estilo responsivo para tabletas */
@media screen and (max-width: 768px) {
  .form_producto {
      padding: 1rem;
  }

  .campo_etiqueta {
      font-size: 20px;
      padding: 0.5em;
  }

  .input_formulario {
      padding: 0.5em;
      font-size: 16px;
  }

  .button {
      font-size: 18px;
      padding: 0.8rem;
  }
}

/* Estilo responsivo para móviles */
@media screen and (max-width: 480px) {
  .titulo_formulario {
      font-size: 24px;
      padding: 10px;
  }

  .campo_formulario {
      font-size: 1.2em;
  }

  .campo_etiqueta {
      font-size: 18px;
  }

  .input_formulario {
      font-size: 14px;
      padding: 0.5em;
  }

  .contenedor__boton {
      padding: 10px;
  }

  .button {
      font-size: 16px;
      padding: 0.5rem;
  }
}

@media screen and (max-width: 768px) {
  .header {
      display: flex;
      justify-content: center;
  }

  .titulo_logo {
      font-size: 50px;
      margin-left: 5px;
  }

  .logo_img {
      width: 80px;
      height: 80px;
  }

  .contenedor__principal {
      flex-direction: column;
      padding-left: 5px;
  }

  .card-container {
      padding: 1em;
  }

  .card_container_productos {
      grid-template-columns: 1fr;
  }

  .card {
      padding: 2px;
      border: solid 2px;
      border-radius: 10px;
  }
}

/* Estilo responsivo para móviles */
@media screen and (max-width: 480px) {
  .titulo_logo {
      font-size: 40px;
  }

  .logo_img {
      width: 60px;
      height: 60px;
  }

  .card-container {
      padding: 1em;
      grid-template-columns: 1fr;
  }

  .card_container_productos {
      grid-template-columns: 1fr;
  }

  .card {
      padding: 2px;
      border: solid 2px;
      border-radius: 10px;
  }

  h1 {
      font-size: 24px;
      padding: 1rem 1rem;
  }

  .footer-container {
      gap: 5px;
  }

  .menu-titulo-footer {
      flex-direction: column;
      margin-right: 0;
  }

  .menu-titulo-footer p {
      font-size: 50px;
  }

  .menu-titulo-footer span {
      font-size: 40px;
  }

  .footer-logo {
      width: 80px;
      height: 80px;
      margin-left: 0;
  }

  .footer-autor p {
      font-size: 18px;
  }

  .footer-autor span {
      font-size: 18px;
  }
}